name: Update GitHub Stats

# اجرا هر ساعت و امکان اجرای دستی
on:
  schedule:
    - cron: '0 * * * *' # هر ساعت اجرا میشه
  workflow_dispatch:

jobs:
  update-stats:
    runs-on: ubuntu-latest

    steps:
      # کلون کردن ریپو
      - uses: actions/checkout@v3

      # ساخت SVG با GitHub Stats
      - name: Generate GitHub Stats SVG
        uses: marlonbraun/github-readme-stats-action@v1
        with:
          username: ErfanNahidi
          output: github-readme-stats.svg

      # آپدیت README
      - name: Commit and push updated SVG
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add github-readme-stats.svg
          git commit -m "Update GitHub stats" || echo "No changes"
          git push
